.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fafafa;
  text-align: left;
  padding: 15px;
}

.main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fafafa;
  margin: 0 auto;
  padding: 15px;
  color: #0a0a0a;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  margin-top: 7px;
}

.main-body {
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}
